* {
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.5s ease;
}

body,
html {
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

.typeWritter-container {
  margin-top: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  color: #38bdf8;
}

#typeWritterContainer {
  height: 2rem;
}

@media (max-width: 600px) {
  .typeWritter-container {
    font-size: 1.5rem;
  }

  #typeWritterContainer {
    height: 2rem;
  }
}

#typeWritterContainer::after {
  content: "|";
  animation: blink 1s step-start infinite;
  margin: 0.2rem;
  color: #48bcee;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
