* {
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.5s ease;
}

body,
html {
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}
