.header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid var(--text-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo img {
  width: 2.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.name {
  color: var(--text-primary);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: -0.4rem;
  font-family: "Poppins", sans-serif;
}

.nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  visibility: visible;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mode-button {
  width: 2rem;
  margin: 0 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#darkMode {
  display: none;
}

.dark-mode img {
  width: 2rem;
}

.light-mode img {
  width: 1.9rem;
}

.home,
.about {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

@keyframes hidden-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

@media (max-width: 650px) {
  .header {
    padding: 0.5rem;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    flex-direction: column;
    margin-right: 1.3rem;
  }

  .logo img {
    width: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 1rem;
  }

  .lines {
    width: 20px;
    height: 2px;
    border-radius: 0.5rem;
    background-color: var(--text-primary);
  }

  .mode-button {
    width: 1.6rem;
    cursor: none;
  }

  .dark-mode img {
    width: 1.5rem;
  }

  .light-mode img {
    width: 1.5rem;
  }

  .mode-button {
    margin: 0 0.5rem;
  }

  #navMenu {
    display: block;
  }

  .nav-menu {
    width: 5rem;
    height: auto;
    position: fixed;
    z-index: 1000;
    top: 3.7rem;
    right: 0.5rem;
    background: var(--bg-color);
    backdrop-filter: blur(14px);
    border: 1px solid var(--text-primary);
    border-radius: 0.8rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .back-contianer {
    z-index: 999;
    width: 100vw;
    height: 100vh;
  }

  #overlay {
    margin-top: 3.5rem;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  #overlay.active {
    pointer-events: auto;
    opacity: 1;
  }
  #navMenu {
    display: none;
  }

  .home,
  .about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
  }
}
